<h1>Log In Here!</h1>

<%= flash[:error] if flash[:error] %>

<%= form_for @user, url: '/login' do |f| %>

<div>
    <%= f.label :email %>
    <%= f.email_field :email %>
</div><br><br>

<div>
    <%= f.label :password %>
    <%= f.password_field :password %>
</div><br><br>

<div>
    <%= f.submit "Log In" %>
</div>

<% end %>