<h1>Edit <%= @item.item_name %> </h1>

<%= render partial: "layouts/errors", locals: {object: @item} %>

<%= form_for(@item) do |f| %>

    <%= f.label :item_name %>
    <%= f.text_field :item_name %>

    <%= f.label :item_description %>
    <%= f.text_area :item_description %>

    <%= f.submit %>

<% end %>