<h1> Switch Items </h1>
<br><br>

<% @items.each do |item| %>
<div>
    <li>
        <%= item.item_name %><br><br>
        <%= item.item_description %>
        <h3>Listed by: <%= item.user.username %></h3>
        <%# check to see if current_user already rated an item %>
        <%# <% if !check_if_user_rated %> 
       
            <%= link_to "Add Rating", new_item_rating_path(item) %>
            <%= render item.ratings %>

        <%# <% end %> 
    <% if item.user == current_user %>
        <h4><%= link_to "Edit Item", edit_item_path(item.id)%></h4>
        <%= link_to "Delete", item_path(item.id), method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %>
    </li>
    <br><br>
</div>
<% end %>



