<h1> Switch Items </h1>
<br><br>

<% @items.each do |item| %>
<div>
    <li>
        <%= item.item_name %>
        <%= item.item_description %>
        <h3>Listed by: <%= item.user.username %></h3>
        <%= link_to "Add Rating", new_item_rating_path(current_user.items.ids) %>
        <%= render item.ratings %>
        <br><br>
    </li>
    <br><br>
</div>
<% end %>



