<h1>New Item</h1><br><br>

<%= form_for(@item) do |f| %>

    <%= f.label :item_name %>
    <%= f.text_field :item_name %><br><br>

    <%= f.label :item_description %>
    <%= f.text_area :item_description %><br><br>

    <button class="border-2 border-blue-500 hover:border-red-500 ...">
        <%= f.submit %>
    </button>

<% end %>