<!DOCTYPE html>
<html>
  <head>
    <title>Switcheroo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <% if logged_in? %>  
        <%= link_to "Home", user_path(current_user)%> |   
        <%= link_to "Switch", items_path %> | 
        <%= link_to "My Items", item_path(current_user.items.ids) %> |
        <%= link_to "List New Item", new_item_path %> |
        <%= link_to "My Cart", user_carts_path(current_user.items.ids) %> |
      <%= link_to 'Log out', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', signup_path %> |
        <%= link_to 'Log in', login_path %> 
      <% end %>
    </div>
    <div>
      <% if flash[:message] %>
        <% flash[:message] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
